 <div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/FotoPerfilPort.jpeg" class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Salvatierra Juan</p>
            <p id="profesion">Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
               <h1>Acerca de mi</h1>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero perferendis doloremque odit cumque debitis nihil eum provident, voluptates quasi alias aliquam assumenda tenetur eius obcaecati dolores nemo repudiandae sapiente amet.</p>
            </span>
        </div>
    </div>
 </div>
