<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Escuela Secundaria</h1> - <h3>(2017-2022)</h3>
                <p>Escuela Secundaria Jorge Newbery N°413  
                    Bachiller en Economía y Administración 
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Formación Full-Stack</h1> - <h3>(2022-2023)</h3>
                <p>Certificación conjunta del Ministerio de Desarrollo Productivo, la Cámara de la Industria Argentina del Software y el Instituto Nacional de Tecnología Industrial</p>
            </li>
        </ul>
    </div>
</div>
