<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Escuela Secundaria</h1> - <h3>(2017-2022)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo perferendis laboriosam quos distinctio commodi consequatur dicta tenetur dolorum non obcaecati ad sapiente, voluptate accusantium natus nobis id error rem omnis?</p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Formación Full-Stack</h1> - <h3>(2021-2022)</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore, fugiat cumque tempora dignissimos deleniti consequuntur amet distinctio repellat explicabo id eos illum maiores repudiandae, voluptas officiis nemo perferendis? Architecto, inventore?</p>
            </li>
        </ul>
    </div>
</div>
